<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="titulo">HOLA SIN SENTIDO</h1>
    <img src="https://firebasestorage.googleapis.com/v0/b/tiendasurafaha.appspot.com/o/cerinzoflorecido04.jpg?alt=media&token=8620cf44-0932-4461-b6af-2b42693a8678" alt="" id="foto">
    
    <script src="../controllers/aprendiendoDOM.js"></script>
</body>
</html>